{% extends 'splanner/base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="container-fluid screen login-">
    <div class="row no-gutters login-padding"></div>
    <div class="row no-gutters mx-auto align-items-center justify-content-center login rounded">
      <div class="col-12 align-self-end" id="logo-container"></div>
      <div class="w-100 d-none"></div>
      <div class="col-10 align-self-start text-center">
        <form method="post">
          {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            <div class="row py-1 justify-content-center">
          {% for field in form.visible_fields %}
            <div class="form-group">
              {% if form.is_bound %}
                {% if form.non_field_errors %}
                  {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
              {% render_field field class="form-control" %}
              {% endif %}
            </div>
          {% endfor %}
            </div>
            <script>
                var input = document.getElementById ("id_username");
                input.placeholder = "Username";
                var input = document.getElementById ("id_password");
                input.placeholder = "Password";
            </script>
        <div class="password-reset">
        <a href="/password_reset">Forgot your password?</a>
        </div>
          <div class="login-btn">
                       <button type="submit" class="btn btn-success">Login</button>
          </div>
                        {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}