{% extends 'splanner/base.html' %}
{% block title %}Password reset Done{% endblock %}
{% block content %}
    <div class="row no-gutters login-padding"></div>
    <div class="row no-gutters mx-auto align-items-center justify-content-center rounded password-reset-done">
    <div class="password-reset-done-contents">
        <h2>Your password has been reset</h2>
 <p>
 Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
 </p>
    </div>
    </div>
{% endblock %}
