{% extends 'splanner/base.html' %}
{% block content %}
    <div class="row no-gutters login-padding"></div>
    <div class="row no-gutters mx-auto align-items-center justify-content-center rounded password-reset-done">
    <div class="password-reset-done-contents">
 <p>
 We've emailed you instructions for setting your password, if an account exists with the email you entered.
 You should receive them shortly.
 </p>
 <p>
 If you don't receive an email, please make sure you've entered the address you registered with,
 and check your spam folder.
 </p>
    </div>
    </div>

{% endblock %}