{% extends 'splanner/base.html' %}
{% load widget_tweaks %}
{% block title %}Change Password{% endblock %}
{% block content %}
  <div class="container-fluid screen login-">
    <div class="row no-gutters login-padding"></div>
    <div class="row no-gutters mx-auto align-items-center justify-content-center login rounded">
    <div class="password-reset-content">
            <h2>Change Password</h2>
    <p>Please enter the your new Password. It cannot be the same as your previous password.</p>
    </div>
      <div class="w-100 d-none"></div>
      <div class="col-10 align-self-start text-center">
      {% if validlink %}
        <form method="post">
          {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            <div class="row py-1 justify-content-center">
          {% for field in form.visible_fields %}
            <div class="form-group">
              {% if form.is_bound %}
                {% if form.non_field_errors %}
                  {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
              {% render_field field class="form-control" %}
              {% endif %}
            </div>
          {% endfor %}
            </div>
            <script>
                var input = document.getElementById ("id_new_password1");
                input.placeholder = "New Password";
                var input = document.getElementById ("id_new_password2");
                input.placeholder = "Confirm New Password";
            </script>
          <div class="login-btn">
                       <button type="submit" class="btn btn-success">Confirm</button>
          </div>
                        {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}

                                <p>
                            The password reset link was invalid, possibly because it has already been used.
                            Please request a new password reset.
                        </p>

        {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}