{% extends 'splanner/base.html' %}
{% load widget_tweaks %}
{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="d-none d-md-block col-md-7 back-sec">
        <div class="container-fluid sign-up-img"></div>
      </div>
    <div class="col-md-5 my-auto sign-up-contents">
      <div class="px-3">
        <div class="sign-up-title">
          <h2>Sign up</h2>
        </div>
        <form method="post" novalidate>
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              {% if form.is_bound %}
                {% if field.errors%}
                  {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                  {% render_field field class="form-control is-valid" %}
                {% endif %}
              {% else %}
              {% render_field field class="form-control" %}
              {% endif %}
            </div>
          {% endfor %}
          <div class="text-center">
            <button type="submit" class="btn-block btn-lg btn-success">
                Create my free account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
