{% extends 'splanner/base.html' %}
{% load custom_filters %}

{% block title %}{{ assessment.name }}{% endblock %}

{% block content %}
  <div class="container-fluid pb-3 screen">
    <div class="row no-gutters">
      <div class="col-12">
        <h3>Assessment</h3>
      </div>

    <!-- side navigation bar container -->
      <div class="d-flex flex-column col-xs-6 col-sm-5 col-md-3 col-lg-3 col-xl-2 sidenav">
        {% if tasks %}
          <div class="row overflow-auto">
          {% for task in tasks %}
            <div class="col-12">
              <a class="btn btn-outline-primary btn-block text-truncate" href="/{{ module.id }}/{{ assessment.id }}/{{ task.id }}/">{{ task.name }}</a>
            </div>
          {% endfor %}
          </div>
        {% else %}
          <div class="row">
            <div class="col">
               <a class="btn btn-outline-secondary btn-block text-truncate disabled" href="">No Tasks</a>
            </div>
          </div>
        {% endif %}
        <div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="addTask" action="/{{ module.id }}/{{ assessment.id }}/add-task/" method="post">
                  {% csrf_token %}
                  <div class="container">
                    <div class="row py-1">
                      <div class="col">
                        {{ addTaskForm.name.errors }}
                        {{ addTaskForm.name }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        {{ addTaskForm.part.errors }}
                        {{ addTaskForm.part }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        {{ addTaskForm.type.errors }}
                        {{ addTaskForm.type }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        {{ addTaskForm.weight.errors }}
                        {{ addTaskForm.weight }}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addTaskSubmit" type="submit" form="addTask" class="btn btn-primary">
                  <span class="fas fa-check"></span> Add
                </button>
                <script type="text/javascript">
                  var parts = [];
                  {% for task in tasks %}
                    parts.push("{{ task.part }}");
                  {% endfor %}
                  $('#add_part').change(function(event){
                    var partInput = $('#add_part');
                    if (parts.includes(partInput.val())){
                      partInput[0].setCustomValidity("Task number already defined");
                    } else {
                      partInput[0].setCustomValidity("");
                    }
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row-reverse no-gutters mt-auto">
          <div class="col-xs-6 col-sm-7 col-md-8 col-lg-8">
            <button type="button" class="btn btn-outline-success btn-block text-truncate" data-toggle="modal" data-target="#addTaskModal">Add Task</button>
          </div>
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
            <a class="btn btn-outline-secondary btn-block" href="/{{ module.id }}/">Back</a>
          </div>
        </div>
      </div>

    <!-- page detail container -->
      <div class="d-flex flex-column col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-10 border border-secondary detail rounded">
        <div class="d-flex text-center mx-auto">
          <h1>
            {{ assessment.name }}<span class="fas fa-pen ml-2" style="font-size:20px" data-target="#editAssessmentModal" data-toggle="modal"></span>
          </h1>
        </div>
        <div class="modal fade" id="editAssessmentModal" tabindex="-1" role="dialog" aria-labelledby="editAssessmentModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Edit/Delete Assessment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="editAssessment" action="/{{ module.id }}/{{ assessment.id }}/edit-assessment/" method="post">
                  {% csrf_token %}
                  <div class="container">
                    {{ editAssessmentForm.non_field_errors }}
                    <div class="row py-1">
                      <div class="col">
                        <h6>Assessment Name</h6>
                        {{ editAssessmentForm.name.errors }}
                        {{ editAssessmentForm.name }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        <h6>Start Date</h6>
                        {{ editAssessmentForm.start_date.errors }}
                        <div class='input-group date' id='startDatePicker'>
                          {{ editAssessmentForm.start_date }}
                          <span class="input-group-addon">
                            <button class="btn btn-secondary" type="button"><i class="fas fa-calendar-day"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <script type="text/javascript">
                      $(function () {
                        $('#startDatePicker').datetimepicker({
                          format: 'YYYY-MM-DD',
                          minDate: new Date(),
                          maxDate: new Date("{{ assessment.due_date.isoformat }}"),
                          icons: {
                            up: "fas fa-chevron-up",
                            down: "fas fa-chevron-down",
                            next: "fas fa-chevron-right",
                            previous: "fas fa-chevron-left"
                          }
                        });
                        $("#startDatePicker").on("dp.change", function (e) {
                          $('#dueDatePicker').data("DateTimePicker").minDate(new Date(e.date + 86400000));
                        });
                      });
                    </script>
                    <div class="row py-1">
                      <div class="col">
                        <h6>Due Date</h6>
                        {{ editAssessmentForm.due_date.errors }}
                        <div class='input-group date' id='dueDatePicker'>
                          {{ editAssessmentForm.due_date }}
                          <span class="input-group-addon">
                            <button class="btn btn-secondary" type="button"><i class="fas fa-calendar-day"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <script type="text/javascript">
                      $(function () {
                        $('#dueDatePicker').datetimepicker({
                          format: 'YYYY-MM-DD',
                          minDate: new Date("{{ assessment.start_date.isoformat }}"),
                          icons: {
                            up: "fas fa-chevron-up",
                            down: "fas fa-chevron-down",
                            next: "fas fa-chevron-right",
                            previous: "fas fa-chevron-left"
                          }
                        });
                        $("#dueDatePicker").on("dp.change", function (e) {
                          $('#startDatePicker').data("DateTimePicker").maxDate(new Date(e.date - 86400000));
                        });
                      });
                    </script>
                    <div class="row py-1">
                      <div class="col">
                        <h6>Weight</h6>
                        {{ editAssessmentForm.weight.errors }}
                        {{ editAssessmentForm.weight }}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <!-- remove assessment form -->
                <form id="deleteAssessment" method="post" action="/{{ module.id }}/{{ assessment.id }}/del-assessment/">
                  {% csrf_token %}
                </form>
                <button id="delete" class="btn btn-danger mr-auto">Delete</button>
                <button id="delete2" type="submit" form="deleteAssessment" class="btn btn-danger mr-auto d-none">Are you sure?</button>

                <script type="text/javascript">
                  $('#delete').click(function() {
                    $('#delete').addClass('d-none');
                    $('#delete2').removeClass('d-none');
                  });

                  //autofill current module data for user to edit
                  $(document).ready(function () {
                    $('#edit_name').val('{{ assessment.name }}');
                    $('#edit_due_date').val('{{ assessment.due_date|date:"Y-m-d" }}');
                    $('#edit_start_date').val('{{ assessment.start_date|date:"Y-m-d" }}');
                    $('#edit_weight').val('{{ assessment.weight }}');
                  });

                  $('#editAssessmentModal').on('hidden.bs.modal', function () {
                    $('#delete').removeClass('d-none');
                    $('#delete2').addClass('d-none');
                    $('#edit_name').val('{{ assessment.name }}');
                    $('#edit_due_date').val('{{ assessment.due_date|date:"Y-m-d" }}');
                    $('#edit_start_date').val('{{ assessment.start_date|date:"Y-m-d" }}');
                    $('#edit_weight').val('{{ assessment.weight }}');
                  });
                </script>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="editAssessment" class="btn btn-primary">
                  <span class="fas fa-check"></span> Save
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-100 mx-3">
          <div class="col-lg-12 col-xl-6 mt-0 p-3 order-xl-2 my-auto">
            <h4>About {{ assessment.name }}</h4>
            <p class="text-justify">
            This assessment accounts for {{ assessment.weight|floatformat:-2 }}% of
            <a href="/{{ assessment.module.id }}/">{{ assessment.module.name }}</a>
            so about {{ assessmentWeight|floatformat:-0 }}% of your study weight this year{% if assessmentWeight > 15 %},
            which makes it quite important.{% else %}.{% endif %}
            The deadline for this assessment is {{ assessment.due_date }} and you've told us you're starting
            {{ assessment.period }} day{{ assessment.period|pluralize }} before. Based on the overall weighting of this assessment, Splanner
            recommends that you start working
            {% if recommendedPeriod <= 10 %}
              about {{ recommendedPeriod }} day{{ recommendedPeriod|pluralize }} before
            {% elif recommendedPeriod <= 14 %}
              at least a week before
            {% elif recommendedPeriod <= 21 %}
              at least two weeks before
            {% elif recommendedPeriod <= 28 %}
              at least three weeks before
            {% elif recommendedPeriod <= 42 %}
              at least a month before
            {% elif recommendedPeriod <= 63 %}
              at least a month and a half before
            {% else %}
              at least a couple of months before
            {% endif %}
            the deadline,
            {% if recommendedPeriod > assessment.period %}
              so maybe consider allowing more time.
            {% else %}
              so you're plan looks good to me!
            {% endif %}
            <br><br>

            {% if tasks %}
              You're currently tracking {{ tasks|length }} task{{ tasks|pluralize }} which
              account{% if tasks|length == 1 %}s{% endif %} for {{ assessmentTracked }}% of this assessment,
              {% if assessmentTracked < 100 %}
                <a href="" data-toggle="modal" data-target="#addTaskModal">add another?</a>
              {% else %}
                two thumbs up!
              {% endif %}

            {% else %}
              You can add a task by clicking the 'Add Task' button in the bottom left of the page or by clicking
              on the 'Not Tracked' space in the pie chart. You'll need to provide a name for your task and the
              percentage weight the task has within {{ assessment.name }} so we can properly calculate you're progress
              through this assessment. You'll also need to provide the task number in the order you want to do your tasks
              as well as a task type from a drop-down list to make your timeline chart more useful at a glance!<br><br>

              What are you waiting for? <a href="" data-toggle="modal" data-target="#addTaskModal">Start tracking!</a>
            {% endif %}
            </p>
          </div>
          <div class="col-lg-12 col-xl-6 mt-0 chart p-3 order-xl-1">
            <h4>Tasks Overview</h4>
            <div id="donutchart"></div>
          </div>
          <div class="col-12 mt-0 p-3 order-xl-3">
            <h4>Assessment Timeline</h4>
            <div id="ganttchart" class="pt-2"></div>
          </div>

        <!-- chart loader script -->
          <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.load('current', {'packages':['gantt']});
            google.charts.setOnLoadCallback(weightChart);
            google.charts.setOnLoadCallback(ganttChart);

            function daysToSeconds(days) {
              return days * 24 * 60 * 60;
            }

            function weightChart() {
              let chart_data = [];
              let total_weight = 0;
              chart_data.push(['Task', 'Weight']);
              {% for task in tasks %}
                chart_data.push(["{{ task.name }}", parseFloat("{{ task.weight }}")]);
                total_weight += parseFloat("{{ task.weight }}");
              {% endfor %}

              let options = {
                pieHole: 0.4,
                height: 360,
                pieStartAngle: total_weight*3.6,
                chartArea:{
                  width:'100%',
                  height:'80%'
                },
                legend: {
                  position: 'labeled',
                },
                pieSliceText: 'none',
                tooltip: {trigger: 'none'},
                sliceVisibilityThreshold: 0,
              };

              let donut = $('#donutchart');
              if (donut.width() > 500){
                options.chartArea = {width: '80%', height: '80%'}
              }

              if (donut.width() < 425){
                options.tooltip = {trigger: 'focus'};
                options.legend = {position: 'bottom', alignment: 'center'}
                options.pieSliceText = 'percentage'
              }

              let remaining = 100 - total_weight;
              if (remaining - 1 > 0) {
                chart_data.splice(1, 0, ['Not Tracked', remaining]);
                options.slices = {0: {color:'grey'}};
              }
              let data = google.visualization.arrayToDataTable(chart_data);
              let chart = new google.visualization.PieChart(document.getElementById('donutchart'));
              chart.draw(data, options);

              google.visualization.events.addListener(chart, 'select', selectHandler);
              function selectHandler(){
                let selection = chart.getSelection();
                chart.setSelection(selection);
                if (selection[0] != null) {
                  let str = chart_data[selection[0].row + 1][0];
                  if (str === 'Not Tracked') {
                    $("#addTaskModal").modal("show");
                  }
                  else {
                    {% for task in tasks %}
                      if ("{{ task.name }}" === str) {
                        window.location.href = (window.location.href + "{{ task.id }}" + "/")
                      }
                    {% endfor %}
                  }
                  chart.setSelection([]);
                }
              }
            }

            function ganttChart() {
              let data = new google.visualization.DataTable();
              data.addColumn('string', 'Task ID');
              data.addColumn('string', 'Task Name');
              data.addColumn('string', 'Resource');
              data.addColumn('date', 'Start Date');
              data.addColumn('date', 'End Date');
              data.addColumn('number', 'Duration');
              data.addColumn('number', 'Percent Complete');
              data.addColumn('string', 'Dependencies');

              let period = daysToSeconds(parseInt('{{ assessment.period }}'));
              console.log(period);
              let taskPeriod = 0;
              let start_date = new Date('{{ assessment.start_date.isoformat }}');
              {% for task in tasks %}
                if (parseInt('{{ task.weight }}') !== 0) {
                  start_date.setSeconds(start_date.getSeconds() + taskPeriod);
                  taskPeriod = (period * parseInt('{{ task.weight }}') / 100);

                  data.addRow(['{{ task.id }}', '{{ task.name }}', '{{ task.type|task_name }}', new Date(start_date),
                              null, taskPeriod * 1000, parseInt('{{ task.progress }}'), null]);
                }
              {% endfor %}

              let due_date = new Date('{{ assessment.due_date.isoformat }}');
              //due_date.setSeconds(due_date.getSeconds() - 86400);

              if (data.getNumberOfRows() === 0) {
                data.addRow(['1', 'Sample Task', '', null, null, 0, 0, null]);
              }

              data.addRow(['Hand in', '', 'Hand in', due_date,
                          null, 0, parseInt('{{ assessment.progress }}'), null]);


              let options = {
                title: 'Study Timeline',
                height: 42 * (data.getNumberOfRows() + 2),
                gantt: {
                    labelStyle: {
                        fontName: 'sans-serif',
                    }
                },
              };

              let chart = new google.visualization.Gantt(document.getElementById('ganttchart'));
              chart.draw(data, options);
            }

            $(window).bind('resize', function(e){
              if (window.RT) clearTimeout(window.RT);
              window.RT = setTimeout(function()
              {
                weightChart();
                ganttChart();
                $("#donutchart").load(window.location.href + " #donutchart" );
                $("#ganttchart").load(window.location.href + " #ganttchart" );
              }, 200);
            });
          </script>
        </div>
      </div>
      <div class="toast" role="alert" data-delay="4000" aria-live="assertive" aria-atomic="true" style="position:absolute;bottom:15px;right:30px;">
        <div class="toast-header">
          <strong class="mr-auto">Splanner</strong>
          <small class="text-muted">1s ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body bg-light">
          {% if messages %}
            {% for message in messages %}
              {% ifequal message.tags 'success' %}
                {{ message }}
              {% endifequal %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <script>
        $(document).ready(function() {
          {% if messages %}
            $('.toast').toast('show');
          {% endif %}
        });
      </script>
    </div>
  </div>
{% endblock %}