{% extends 'splanner/base.html' %}

{% block title %}Splanner{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container-fluid screen">
      <div class="row no-gutters">
        <div class="col-12">
          <h3>Overview</h3>
        </div>

      <!-- side navigation bar container -->
        <div class="d-flex flex-column col-xs-6 col-sm-5 col-md-4 col-lg-3 col-xl-2 sidenav rounded">
          {% if modules %}
            <div class="row overflow-auto">
            {% for module in modules %}
                <div class="col-12">
                  <a class="btn btn-outline-primary btn-block text-truncate" href="/{{ module.id }}/">{{ module.name }}</a>
                </div>
            {% endfor %}
            </div>
          {% else %}
            <div class="row">
              <div class="col">
                <a class="btn btn-outline-secondary btn-block text-truncate disabled" href="">No Modules</a>
              </div>
            </div>
          {% endif %}
          <div class="modal fade" id="addModuleModal" tabindex="-1" role="dialog" aria-labelledby="addModuleModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalLabel">Add Module</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="addModule" action="/add-module/" method="post">
                    {% csrf_token %}
                    {{ addModuleForm.non_field_errors }}
                    <div class="container">
                      <div class="row py-1">
                        <div class="col">
                          {{ addModuleForm.name.errors }}
                          {{ addModuleForm.name }}
                        </div>
                      </div>
                      <div class="row py-1">
                        <div class="col">
                          {{ addModuleForm.weight.errors }}
                          {{ addModuleForm.weight }}
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" form="addModule" class="btn btn-primary">
                    <span class="fas fa-check"></span> Add
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row-reverse no-gutters mt-auto">
            <div class="col">
              <button type="button" id="addModuleButton" class="btn btn-outline-success btn-block text-truncate" data-toggle="modal" data-target="#addModuleModal">Add Module</button>
              <script type="text/javascript">
                $( document ).ready(function() {
                  let total_weight = 0;
                  {% for module in modules %}
                      total_weight += parseInt("{{ module.weight }}");
                  {% endfor %}
                  if (total_weight === 100) {
                      let addButton = $('#addModuleButton');
                      addButton.removeClass('btn-outline-success');
                      addButton.addClass('btn-outline-secondary disabled');
                      addButton.attr('disabled', true);
                  }
                });
              </script>
            </div>
          </div>
        </div>

      <!-- page detail container -->
        <div class="d-flex flex-column col-xs-6 col-sm-7 col-md-8 col-lg-9 col-xl-10 border border-secondary detail rounded">
          <div class="d-flex text-center mx-auto px-2"><h1>{{ user.first_name }} {{ user.last_name }}</h1></div>
          <div class="row no-gutters h-100 mx-3">
            <div class="col-lg-12 col-xl-6 mt-0 p-3 order-xl-3">
              <h4>Hi {{ user.first_name }}!</h4>
              <p class="text-justify">
              {% if modules %}

                You're currently tracking {{ modules|length }} module{{ modules|pluralize }} with Splanner
                and have {{ yearTracked }}% of your module weight assigned,
                {% if yearTracked < 100 %}
                  <a href="" data-toggle="modal" data-target="#addModuleModal">add another!</a>
                {% else %}
                  stellar!
                {% endif %}<br><br>
                You have {{ dueSoon|length }}
                assessment{{ dueSoon|pluralize }} due in the next two weeks

                {% if not dueSoon %}so you can relax a little, maybe get some fresh air. Or if you feel like it, get an
                  early start on some of your other work, you'll thank us later.<br><br>
                  {% if priorityAssessment %}
                    You could start with
                    <a href="/{{ priorityAssessment.module.id }}/{{ priorityAssessment.id }}/">{{ priorityAssessment.name }}.</a>
                    I'm just a few if statements but that looks like a good place to start to me.
                  {% endif %}
                {% else %} but don't stress, you've got this.
                  {% if dueSoonProgress == 0 %} Doesn't look like you've started though, so you should probably do that.
                  {% elif dueSoonProgress == 100 %} You're all done, just hand in already.
                  {% elif dueSoon|length > 1 %} By our calculations, you're {{ dueSoonProgress }}% of the way through, so keep going.
                  {% endif %}

                  {% if dueSoonProgress != 100 %}<br><br>
                    {% if dueSoon|length > 1 %}
                      We suggest starting with
                      <a href="/{{ priorityAssessment.module.id }}/{{ priorityAssessment.id }}/">{{ priorityAssessment.name }}</a>
                      from your
                      <a href="/{{ priorityAssessment.module.id }}/">{{ priorityAssessment.module.name }}</a>
                      module, looks like that's what needs the most work. Currently at {{ priorityAssessment.progress }}%
                      progress with {{ timeRemaining }} days to go, so why not do a bit now?
                    {% else %}
                      You've only got
                      <a href="/{{ priorityAssessment.module.id }}/{{ priorityAssessment.id }}/">{{ priorityAssessment.name }}</a>
                      from your
                      <a href="/{{ priorityAssessment.module.id }}/">{{ priorityAssessment.module.name }}</a>
                      module coming up. Get it out of the way!
                    {% endif %}
                  {% endif %}
                {% endif %}

              {% else %}
                You can add a module by clicking the 'Add Module' button in the bottom left of the page or by clicking
                on the 'Not Tracked' space in the pie chart. You'll need to provide a name for your module and the
                percentage weight it has in the year so we can properly weigh up the importance of your assessments.<br><br>
                What are you waiting for? <a href="" data-toggle="modal" data-target="#addModuleModal">Start tracking!</a>
              {% endif %}
              </p>
            </div>
            <div class="col-lg-12 col-xl-6 mt-0 chart p-3 order-xl-1">
              <h4>Modules Overview</h4>
              <div id="donutchart"></div>
            </div>
            <div class="col-lg-12 col-xl-6 mt-0 p-3 order-xl-2">
              <h4>Progress Overview</h4>
              <div id="barchart"></div>
            </div>

          <!-- chart loader script -->
            <script type="text/javascript">
              google.charts.load("current", {packages:["corechart"]});
              google.charts.setOnLoadCallback(weightChart);
              google.charts.setOnLoadCallback(progressChart);

              function weightChart() {
                let chart_data = [];
                let total_weight = 0;
                chart_data.push(['Module', 'Weight']);
                {% for module in modules %}
                  chart_data.push(["{{ module.name }}", parseFloat("{{ module.weight }}")]);
                  total_weight += parseFloat("{{ module.weight }}");
                {% endfor %}

                let options = {
                  pieHole: 0.4,
                  height: 360,
                  pieStartAngle: total_weight*3.6,
                  chartArea:{
                    width:'100%',
                    height:'80%'
                  },
                  legend: {
                    position: 'labeled',
                  },
                  pieSliceText: 'none',
                  tooltip: {trigger: 'none'},
                  sliceVisibilityThreshold: 0,
                };

                let donut = $('#donutchart');
                if (donut.width() > 500){
                  options.chartArea = {width: '80%', height: '80%'}
                }

                if (donut.width() < 425){
                  options.tooltip = {trigger: 'focus'};
                  options.legend = {position: 'bottom', alignment: 'center'}
                  options.pieSliceText = 'percentage'
                }

                let remaining = 100 - total_weight;
                if (remaining - 1 > 0) {
                  chart_data.splice(1, 0, ['Not Tracked', remaining]);
                  options.slices = {0: {color:'grey'}};
                }
                let data = google.visualization.arrayToDataTable(chart_data);
                let chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(data, options);

                google.visualization.events.addListener(chart, 'select', selectHandler);
                function selectHandler(){
                  let selection = chart.getSelection();
                  chart.setSelection(selection);
                  if (selection[0] != null) {
                    let str = chart_data[selection[0].row + 1][0];
                    if (str === 'Not Tracked') {
                      $("#addModuleModal").modal("show");
                    }
                    else {
                      {% for module in modules %}
                        if ("{{ module.name }}" === str) {
                          window.location.href = (window.location.href + "{{ module.id }}" + "/");
                        }
                      {% endfor %}
                    }
                    chart.setSelection([]);
                  }
                }
              }

              function progressChart() {
                let chart_data = [];
                chart_data.push(['Module', 'Progress']);
                {% if modules %}
                  {% for module in modules %}
                    chart_data.push(["{{ module.name }}", {v: parseFloat("{{ module.progress }}"), f: "{{ module.progress }}" + "%"}]);
                  {% endfor %}
                {% else %}
                  chart_data.push(["Not Tracking Anything", 0]);
                {% endif %}

                let data = google.visualization.arrayToDataTable(chart_data);
                let options = {
                  animation: {
                    duration: 700,
                    startup: true,
                    easing: 'out',
                  },
                  height: 360,
                  chartArea: {
                    width: '80%',
                    left: 60,
                  },
                  tooltip: {
                    isHtml: true,
                  },
                  vAxis: {
                    title: 'Progress %',
                    maxValue: 100,
                    minValue: 0,
                  },
                  hAxis: {
                    title: 'Module',
                  },
                  legend: 'none',
                };

                let chart = new google.visualization.ColumnChart(document.getElementById('barchart'));
                chart.draw(data, options);
              }

              $(window).bind('resize', function(e){
                if (window.RT) clearTimeout(window.RT);
                window.RT = setTimeout(function()
                {
                  weightChart();
                  progressChart();
                  $("#donutchart").load(window.location.href + " #donutchart" );
                  $("#barchart").load(window.location.href + " #barchart" );
                }, 200);
              });
            </script>
            <div class="col-lg-12 col-xl-6 mt-0 p-3 order-xl-4">
              <h4>Upcoming Deadlines</h4>
              <table class="table">
                <thead class="bg-danger">
                <tr>
                  <th scope="col">Assessment Name</th>
                  <th scope="col" class="d-none d-md-table-cell">Module Name</th>
                  <th scope="col" class="d-none d-sm-table-cell">Progress</th>
                  <th scope="col">Due</th>
                </tr>
              </thead>
              <tbody>
              {% for assessment in dueSoon %}
                <tr>
                  <td><a href="/{{ assessment.module_id }}/{{ assessment.id }}">{{ assessment.name }}</a></td>
                  <td class="d-none d-md-table-cell"><a href="/{{ assessment.module_id }}/">{{ assessment.module.name }}</a></td>
                  <td class="d-none d-sm-table-cell">{{ assessment.progress }}%</td>
                  <td>{{ assessment.due_date }}</td>
                </tr>
              {% endfor %}
              {% if not dueSoon %}
                <tr>
                  <td align="center" colspan="4">Nothing in for the next two weeks</td>
                </tr>
              {% endif %}
              </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="toast" role="alert" data-delay="4000" aria-live="assertive" aria-atomic="true" style="position:absolute;bottom:15px;right:30px;">
          <div class="toast-header">
            <strong class="mr-auto">Splanner</strong>
            <small class="text-muted">1s ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body bg-light">
            {% if messages %}
              {% for message in messages %}
                {% ifequal message.tags 'success' %}
                  {{ message }}
                {% endifequal %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <script>
          $(document).ready(function() {
            {% if messages %}
              $('.toast').toast('show');
            {% endif %}
          });
        </script>
      </div>
    </div>

  {% else %}
    <div class="container-fluid screen p-0">
      <div class="ParallaxVideo">
        <video autoplay muted loop><source src="static/splanner/studentsstudying.mp4" type="video/mp4"></video>
        <div class="text-center parallax-title">
          <h1>Splanner</h1>
          <h3 style="color: #fff;">Get Organised Today!</h3>
          <a href="/accounts/signup" class="btn btn-light btn-lg">Sign Up</a>
        </div>
      </div>
      <div class="padding first-segment">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mx-auto text-center">
              <img src="static/splanner/macbookmock.png" width="300" height="350" class="img-responsive">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 text-center my-auto">
              <h2>Why Splanner?</h2>
              <p class="lead">With Splanner, tracking your progress through your degree has never been easier. Keep on course for upcoming
              deadlines, view all your assessments for a module and set milestones to bring a sense of achievement to even
              the most basic of tasks. Never fall behind on your studies again and use Splanner</p>
            </div>
          </div>
        </div>
      </div>


        <div class="padding second-segment">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mx-auto my-auto text-center">
              <h2>Never miss a deadline again</h2>
              <p class = "lead">It's easy to see what upcoming assessments you have with our Pie Chart and Gantt Views.
              Our handy notifications make sure that nothing ever slips under the radar.</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mx-auto text-center">
              <img src="static/splanner/phonemock.png" width="100" height="350">
            </div>
          </div>
        </div>
      </div>
{#      <div class="padding second-segment">#}
{#        <div class="container">#}
{#          <div class="row">#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
{#              <h4>Designed for you!</h4>#}
{#              <p class="lead"> Designed with University students in mind, from Undergraduate to Postgraduate!</p>#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
{#              <img id="girl-image" src="static/splanner/girl.jpeg" width="256" height="180" class="img-responsive" >#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
{#              <h4>Info at a glance</h4>#}
{#              <p class = "lead">With our new visualisation techniques you can see what deadlines are coming up at a glance</p>#}
{#            </div>#}
{#            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
{#              <img src="static/splanner/gantt.png" width="256" height="180" class="img-responsive">#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div id="fixed-img"></div>

      <div class="padding third-segment">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 mx-auto my-auto text-center py-1">
              <h2>Help plan your schedule!</h2>
              <p class="lead">Our study planner can tell you when you need to start your assignments and how long
              you need to spend each day. It even tells you the assignment you should have already started!</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mx-auto my-auto text-center py-1">
              <img src="static/splanner/iPad-Pro-Mockup.png">
            </div>
          </div>
        </div>
      </div>
      <!--<div class="footer"><p>Footer will go here</p></div>-->
    </div>
  {% endif %}
{% endblock %}