{% extends 'splanner/base.html' %}

{% block title %}{{ module.name }}{% endblock %}

{% block content %}
  <div class="container-fluid pb-3 screen">
    <div class="row no-gutters">
      <div class="col-12">
        <h3>Module</h3>
      </div>

    <!-- side navigation bar container -->
      <div class="d-flex flex-column col-xs-6 col-sm-5 col-md-3 col-lg-3 col-xl-2 sidenav">
        {% if assessments %}
          <div class="row overflow-auto">
          {% for assessment in assessments %}
            <div class="col-12">
              <a class="btn btn-outline-primary btn-block text-truncate" href="/{{ module.id }}/{{ assessment.id }}/">{{ assessment.name }}</a>
            </div>
          {% endfor %}
          </div>
        {% else %}
          <div class="row">
            <div class="col">
               <a class="btn btn-outline-secondary btn-block text-truncate disabled" href="">No Assessments</a>
            </div>
          </div>
        {% endif %}
        <div class="modal fade" id="addAssessmentModal" tabindex="-1" role="dialog" aria-labelledby="addAssessmentModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add Assessment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="addAssessment" action="/{{ module.id }}/add-assessment/" method="post">
                  {% csrf_token %}
                  <div class="container">
                    {{ addAssessmentForm.non_field_errors }}
                    <div class="row py-1">
                      <div class="col">
                        {{ addAssessmentForm.name.errors }}
                        {{ addAssessmentForm.name }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        {{ addAssessmentForm.start_date.errors }}
                        <div class='input-group date' id='startDatePicker'>
                          {{ addAssessmentForm.start_date }}
                          <span class="input-group-addon">
                            <button class="btn btn-secondary" type="button"><i class="fas fa-calendar-day"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <script type="text/javascript">
                      $(function () {
                        $('#startDatePicker').datetimepicker({
                          format: 'YYYY-MM-DD',
                          minDate: new Date(),
                          icons: {
                            up: "fas fa-chevron-up",
                            down: "fas fa-chevron-down",
                            next: "fas fa-chevron-right",
                            previous: "fas fa-chevron-left"
                          }
                        });
                        $("#startDatePicker").on("dp.change", function (e) {
                          $('#dueDatePicker').data("DateTimePicker").minDate(new Date(e.date + 86400000));
                        });
                      });
                    </script>
                    <div class="row py-1">
                      <div class="col">
                        {{ addAssessmentForm.due_date.errors }}
                        <div class='input-group date' id='dueDatePicker'>
                          {{ addAssessmentForm.due_date }}
                          <span class="input-group-addon">
                            <button class="btn btn-secondary" type="button"><i class="fas fa-calendar-day"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <script type="text/javascript">
                      $(function () {
                        $('#dueDatePicker').datetimepicker({
                          format: 'YYYY-MM-DD',
                          minDate: new Date(),
                          icons: {
                            up: "fas fa-chevron-up",
                            down: "fas fa-chevron-down",
                            next: "fas fa-chevron-right",
                            previous: "fas fa-chevron-left"
                          },
                        });
                      });
                    </script>
                    <div class="row py-1">
                      <div class="col">
                        {{ addAssessmentForm.weight.errors }}
                        {{ addAssessmentForm.weight }}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="addAssessment" class="btn btn-primary">
                  <span class="fas fa-check"></span> Add
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row-reverse no-gutters mt-auto">
          <div class="col-xs-6 col-sm-7 col-md-8 col-lg-8">
            <button type="button" id="addAssessmentButton" class="btn btn-outline-success btn-block text-truncate" data-toggle="modal" data-target="#addAssessmentModal">Add Assessment</button>
          </div>
          <script type="text/javascript">
            var total_weight = 0;
            {% for module in modules %}
                total_weight += parseInt("{{ module.weight }}");
            {% endfor %}
            if (total_weight === 100) {
                let addAssessment = $('#addAssessmentButton');
                addAssessment.removeClass('btn-outline-success');
                addAssessment.addClass('btn-outline-secondary disabled');
                addAssessment.attr('disabled', true);
            }
          </script>
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
            <a class="btn btn-outline-secondary btn-block" href="{% url 'home' %}">Back</a>
          </div>
        </div>
      </div>

    <!-- page detail container -->
      <div class="d-flex flex-column col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-10 border border-secondary detail rounded">
        <div class="d-flex text-center mx-auto px-2">
          <h1>
            {{ module.name }}<span class="fas fa-pen ml-2" style="font-size:20px" data-target="#editModuleModal" data-toggle="modal"></span>
          </h1>
        </div>
        <div class="modal fade" id="editModuleModal" tabindex="-1" role="dialog" aria-labelledby="editModuleModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Edit/Delete Module</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="editModule" action="/{{ module.id }}/edit-module/" method="post">
                  {% csrf_token %}
                  {{ editModuleForm.non_field_errors }}
                  <div class="container">
                    <div class="row py-1">
                      <div class="col">
                        <h6>Module Name</h6>
                        {{ editModuleForm.name.errors }}
                        {{ editModuleForm.name }}
                      </div>
                    </div>
                      <div class="row py-1">
                      <div class="col">
                        <h6>Weight</h6>
                        {{ editModuleForm.weight.errors }}
                        {{ editModuleForm.weight }}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <!-- remove module form -->
                <form id="deleteModule" method="post" action="/{{ module.id }}/del-module/">
                  {% csrf_token %}
                </form>
                <button id="delete" class="btn btn-danger mr-auto">Delete</button>
                <button id="delete2" type="submit" form="deleteModule" class="btn btn-danger mr-auto d-none">Are you sure?</button>

                <script type="text/javascript">
                  $('#delete').click(function() {
                    $('#delete').addClass('d-none');
                    $('#delete2').removeClass('d-none');
                  });

                  //autofill current module data for user to edit
                  $(document).ready(function () {
                    $('#edit_name').val('{{ module.name }}');
                    $('#edit_weight').val('{{ module.weight }}');
                  });

                  $('#editModuleModal').on('hidden.bs.modal', function () {
                    $('#delete').removeClass('d-none');
                    $('#delete2').addClass('d-none');
                    $('#edit_name').val('{{ module.name }}');
                    $('#edit_weight').val('{{ module.weight }}');
                  });
                </script>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="editModule" class="btn btn-primary">
                  <span class="fas fa-check"></span> Save
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-100 mx-3">
          <div class="col-lg-12 col-xl-6 mt-0 p-3 order-xl-2 my-auto">
            <h4>About {{ module.name }}</h4>
            <p class="text-justify h-100 my-auto">
            This module accounts for {{ module.weight|floatformat:-2 }}% of your study weight this year{% if module.weight > 25 %},
            which makes it quite important.{% else %}.{% endif %}<br><br>

            {% if assessments %}
              You're currently tracking {{ assessments|length }} assessment{{ assessments|pluralize }}, which
              account{% if assessments|length == 1 %}s{% endif %} for {{ moduleTracked }}% of this module,
              {% if moduleTracked < 100 %}
                <a href="" data-toggle="modal" data-target="#addAssessmentModal">add another?</a>
              {% else %}
                awesome stuff!
              {% endif %}<br><br>

              Based on some intense calculations, Splanner recommends working on
              <a href="/{{ priorityAssessment.module.id }}/{{ priorityAssessment.id }}/">{{ priorityAssessment.name }}</a>.

            {% else %}
              You can add an assessment by clicking the 'Add Assessment' button in the bottom left of the page or by clicking
              on the 'Not Tracked' space in the pie chart. You'll need to provide a name for your assessment and the
              percentage weight the assessment has within {{ module.name }} so we can properly weigh up it's importance.
              You'll also need to provide the due date for the assessment as well as the start date when you wish to
              begin working on it. This can be up to one day before if you want but we may recommend you allocate more time.<br><br>

              What are you waiting for? <a href="" data-toggle="modal" data-target="#addAssessmentModal">Start tracking!</a>
            {% endif %}
            </p>
          </div>
          <div class="col-lg-12 col-xl-6 mt-0 chart p-3 order-xl-1">
            <h4>Assessments Overview</h4>
            <div id="donutchart"></div>
          </div>
          <div class="col-xl-6 offset-xl-3 mt-0 p-3 order-xl-3">
            <h4>Progress Overview</h4>
            <div id="barchart"></div>
          </div>

        <!-- chart loader script -->
          <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(weightChart);
            google.charts.setOnLoadCallback(progressChart);

            function weightChart() {
              let chart_data = [];
              let total_weight = 0;
              chart_data.push(['Assessment', 'Weight']);
              {% for assessment in assessments %}
                chart_data.push(["{{ assessment.name }}", parseFloat("{{ assessment.weight }}")]);
                total_weight += parseFloat("{{ assessment.weight }}");
              {% endfor %}

              let options = {
                pieHole: 0.4,
                height: 360,
                pieStartAngle: total_weight*3.6,
                chartArea:{
                  width:'100%',
                  height:'80%'
                },
                legend: {
                  position: 'labeled',
                },
                pieSliceText: 'none',
                tooltip: {trigger: 'none'},
                sliceVisibilityThreshold: 0,
              };

              let donut = $('#donutchart');
              if (donut.width() > 500){
                options.chartArea = {width: '80%', height: '80%'}
              }

              if (donut.width() < 425){
                options.tooltip = {trigger: 'focus'};
                options.legend = {position: 'bottom', alignment: 'center'}
                options.pieSliceText = 'percentage'
              }

              let remaining = 100 - total_weight;
              if (remaining - 1 > 0) {
                chart_data.splice(1, 0, ['Not Tracked', remaining]);
                options.slices = {0: {color:'grey'}};
              }
              let data = google.visualization.arrayToDataTable(chart_data);
              let chart = new google.visualization.PieChart(document.getElementById('donutchart'));
              chart.draw(data, options);

              google.visualization.events.addListener(chart, 'select', selectHandler);
              function selectHandler(){
                let selection = chart.getSelection();
                chart.setSelection(selection);
                if (selection[0] != null) {
                  let str = chart_data[selection[0].row + 1][0];
                  if (str === 'Not Tracked') {
                    $("#addAssessmentModal").modal("show");
                  }
                  else {
                    {% for assessment in assessments %}
                      if ("{{ assessment.name }}" === str) {
                        window.location.href = (window.location.href + "{{ assessment.id }}" + "/");
                      }
                    {% endfor %}
                  }
                  chart.setSelection([]);
                }
              }
            }

            function progressChart() {
              let chart_data = [];
              chart_data.push(['Assessment', 'Progress']);
              {% if assessments %}
                {% for assessment in assessments %}
                  chart_data.push(["{{ assessment.name }}", {v: parseFloat("{{ assessment.progress }}"), f: "{{ assessment.progress }}" + "%"}]);
                {% endfor %}
              {% else %}
                chart_data.push(["Not Tracking Anything", 0]);
              {% endif %}

              let data = google.visualization.arrayToDataTable(chart_data);
              let options = {
                animation: {
                  duration: 700,
                  startup: true,
                  easing: 'out',
                },
                height: 360,
                chartArea:{
                  width:'80%',
                },
                tooltip: {
                  isHtml: true,
                },
                vAxis: {
                  title: 'Progress %',
                  maxValue: 100,
                  minValue: 0,
                },
                hAxis: {
                  title: 'Assessment',
                },
                legend: 'none',
              };

              let chart = new google.visualization.ColumnChart(document.getElementById('barchart'));
              chart.draw(data, options);
            }

            $(window).bind('resize', function(e){
              if (window.RT) clearTimeout(window.RT);
              window.RT = setTimeout(function()
              {
                weightChart();
                progressChart();
                $("#donutchart").load(window.location.href + " #donutchart" );
                $("#barchart").load(window.location.href + " #barchart" );
              }, 200);
            });
          </script>
        </div>
      </div>
      <div class="toast" role="alert" data-delay="4000" aria-live="assertive" aria-atomic="true" style="position:absolute;bottom:15px;right:30px;">
        <div class="toast-header">
          <strong class="mr-auto">Splanner</strong>
          <small class="text-muted">1s ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body bg-light">
          {% if messages %}
            {% for message in messages %}
              {% ifequal message.tags 'success' %}
                {{ message }}
              {% endifequal %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <script>
        $(document).ready(function() {
          {% if messages %}
            $('.toast').toast('show');
          {% endif %}
        });
      </script>
    </div>
  </div>
{% endblock %}