{% extends 'splanner/base.html' %}
{% load custom_filters %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}
  <div class="container-fluid pb-3 screen">
    <div class="row no-gutters">
      <div class="col-12">
        <h3>Task</h3>
      </div>

    <!-- side navigation bar container -->
      <div class="d-flex flex-column col-xs-6 col-sm-5 col-md-3 col-lg-3 col-xl-2 sidenav">
        {% if activities %}
          <div class="row overflow-auto">
          {% for activity in activities %}
            {% with progress_list|list_item:forloop.counter0 as progress %}
              <div class="col-12">
                <button type="button" id="{{ activity.id }}" class="btn btn-outline-primary btn-block text-truncate activities" data-value="{{ activity.id }}" data-toggle="modal" data-target="#editActivityModal">{{ activity.date }} - {{ progress }}%</button>
              </div>
            {% endwith %}
          {% endfor %}
          </div>
          <div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="editActivityModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalLabel">Edit/Delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="editActivity" action="/{{ module.id }}/{{ assessment.id }}/{{ task.id }}/edit-activity/" method="post">
                    {% csrf_token %}
                    <div class="container">
                      <div class="row py-1">
                        <div class="col">
                          <h6>Date</h6>
                          {{ editActivityForm.date.errors }}
                          <div class='input-group date' id='datetimepicker2'>
                            {{ editActivityForm.date }}
                            <span class="input-group-addon">
                              <button class="btn btn-secondary" type="button"><i class="fas fa-calendar-day"></i></button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <script type="text/javascript">
                        $(function () {
                          $('#datetimepicker2').datetimepicker({
                            format: 'YYYY-MM-DD',
                            maxDate: new Date(),
                            icons: {
                              up: "fas fa-chevron-up",
                              down: "fas fa-chevron-down",
                              next: "fas fa-chevron-right",
                              previous: "fas fa-chevron-left"
                            }
                          });
                        });
                      </script>
                      <div class="row py-1">
                        <div class="col">
                          <h6>Duration</h6>
                          {{ editActivityForm.duration.errors }}
                          {{ editActivityForm.duration }}
                        </div>
                      </div>
                      <div class="row py-1">
                        <div class="col">
                          <h6>Progress</h6>
                          {{ editActivityForm.progress.errors }}
                          {{ editActivityForm.progress }}
                        </div>
                      </div>
                      <div class="row py-1">
                        <div class="col">
                          <h6>Comments</h6>
                          {{ editActivityForm.comments.errors }}
                          {{ editActivityForm.comments }}
                        </div>
                      </div>
                    </div>
                    <input class="activityID" type="hidden" value="" name="activity_id"/>
                  </form>
                </div>
                <div class="modal-footer">
                  <form id="deleteActivity" method="post" action="/{{ module.id }}/{{ assessment.id }}/{{ task.id }}/del-activity/">
                    {% csrf_token %}
                    <input class="activityID" type="hidden" value="" name="activity_id"/>
                  </form>
                  <button id="delete" class="btn btn-danger mr-auto">Delete</button>
                  <button id="delete2" type="submit" form="deleteActivity" class="btn btn-danger mr-auto d-none">Are you sure?</button>

                  <script type="text/javascript">
                    var current_progress = 0;
                    $(document).ready(function(){
                      {% for activity in activities %}
                        current_progress += parseInt('{{ activity.progress }}');
                      {% endfor %}
                    });

                    $('#delete').click(function() {
                      $('#delete').addClass('d-none');
                      $('#delete2').removeClass('d-none');
                    });

                    //autofill current activity data for user to edit - should be in the view really but because these
                    //forms aren't generated on an HTTP request, rather, all the data is passed on the page request and
                    //they are displayed in modals, we have to loop through the list and select the correct one to
                    //perform the validation for
                    $('.activities').on('click', function () {
                      {% for activity in activities %}
                        if ($(this).data("value") === {{ activity.id }}) {
                          console.log('{{ activity.duration }}');
                          $('#edit_activity_date').val('{{ activity.date|date:"Y-m-d" }}');
                          $('#edit_activity_duration').val(parseInt('{{ activity.duration }}'));
                          $('#edit_activity_progress').val('{{ activity.progress }}');
                          $('#edit_activity_comments').val('{{ activity.comments }}');
                          $('.activityID').val('{{ activity.id }}');
                          $('#modalLabel').text('{{ activity.date }}');

                          $('#edit_activity_progress').attr({
                              "max": 100 - (current_progress - parseInt('{{ activity.progress }}')),
                          });
                        }
                      {% endfor %}
                    });

                    $('#editActivityModal').on('hidden.bs.modal', function () {
                      $('#delete').removeClass('d-none');
                      $('#delete2').addClass('d-none');
                    });
                  </script>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button id="editActivitySubmit" type="submit" form="editActivity" class="btn btn-primary">
                    <span class="fas fa-check"></span> Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="row">
            <div class="col">
               <a class="btn btn-outline-secondary btn-block text-truncate disabled" href="">No Activities</a>
            </div>
          </div>
        {% endif %}
        <div class="modal fade" id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="addActivityModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add Activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="addActivity" action="/{{ module.id }}/{{ assessment.id }}/{{ task.id }}/add-activity/" method="post">
                  {% csrf_token %}
                  <div class="container">
                    <div class="row py-1">
                      <div class="col">
                        {{ addAactivityForm.date.errors }}
                        <div class='input-group date' id='datetimepicker1'>
                          {{ addActivityForm.date }}
                          <span class="input-group-addon">
                            <button class="btn btn-secondary" type="button"><i class="fas fa-calendar-day"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <script type="text/javascript">
                      $(function () {
                        $('#datetimepicker1').datetimepicker({
                          format: 'YYYY-MM-DD',
                          maxDate: new Date(),
                          icons: {
                            up: "fas fa-chevron-up",
                            down: "fas fa-chevron-down",
                            next: "fas fa-chevron-right",
                            previous: "fas fa-chevron-left"
                          }
                        });
                      });
                    </script>
                    <div class="row py-1">
                      <div class="col">
                        {{ addActivityForm.duration.errors }}
                        {{ addActivityForm.duration }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        {{ addActivityForm.progress.errors }}
                        {{ addActivityForm.progress }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        {{ addActivityForm.comments.errors }}
                        {{ addActivityForm.comments }}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="addActivitySubmit" type="submit" form="addActivity" class="btn btn-primary">
                  <span class="fas fa-check"></span> Add
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row-reverse no-gutters mt-auto">
          <div class="col-xs-6 col-sm-7 col-md-8 col-lg-8">
            <button type="button" class="btn btn-outline-success btn-block text-truncate" data-toggle="modal" data-target="#addActivityModal">Add Activity</button>
          </div>
          <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
            <a class="btn btn-outline-secondary btn-block" href="/{{ module.id }}/{{ assessment.id }}/">Back</a>
          </div>
        </div>
      </div>

    <!-- page detail container -->
      <div class="d-flex flex-column col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-10 border border-secondary detail rounded">
        <div class="d-flex text-center mx-auto">
          <h1>
            {{ task.name }}<span class="fas fa-pen ml-2" style="font-size:20px" data-target="#editTaskModal" data-toggle="modal"></span>
          </h1>
        </div>
        <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Edit/Delete Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="editTask" action="/{{ module.id }}/{{ assessment.id }}/{{ task.id }}/edit-task/" method="post">
                  {% csrf_token %}
                  <div class="container">
                    <div class="row py-1">
                      <div class="col">
                        <h6>Task Name</h6>
                        {{ editTaskForm.name.errors }}
                        {{ editTaskForm.name }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        <h6>Part No.</h6>
                        {{ editTaskForm.part.errors }}
                        {{ editTaskForm.part }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        <h6>Type</h6>
                        {{ editTaskForm.type.errors }}
                        {{ editTaskForm.type }}
                      </div>
                    </div>
                    <div class="row py-1">
                      <div class="col">
                        <h6>Weight</h6>
                        {{ editTaskForm.weight.errors }}
                        {{ editTaskForm.weight }}
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <!-- remove task form -->
                <form id="deleteTask" method="post" action="/{{ module.id }}/{{ assessment.id }}/{{ task.id }}/del-task/">
                  {% csrf_token %}
                </form>
                <button id="taskDelete" class="btn btn-danger mr-auto">Delete</button>
                <button id="taskDelete2" type="submit" form="deleteTask" class="btn btn-danger mr-auto d-none">Are you sure?</button>

                <script type="text/javascript">
                  $('#taskDelete').click(function() {
                    $('#taskDelete').addClass('d-none');
                    $('#taskDelete2').removeClass('d-none');
                  });

                  //autofill current module data for user to edit
                  $(document).ready(function () {
                    $('#edit_task_name').val('{{ task.name }}');
                    $('#edit_task_part').val('{{ task.part }}');
                    $('#edit_task_type').val('{{ task.type }}');
                    $('#edit_task_weight').val('{{ task.weight }}');
                  });

                  $('#editAssessmentModal').on('hidden.bs.modal', function () {
                    $('#delete').removeClass('d-none');
                    $('#delete2').addClass('d-none');
                    $('#edit_task_name').val('{{ task.name }}');
                    $('#edit_task_part').val('{{ task.part }}');
                    $('#edit_task_type').val('{{ task.type }}');
                    $('#edit_task_weight').val('{{ task.weight }}');
                  });
                </script>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="editTaskSubmit" type="submit" form="editTask" class="btn btn-primary">
                  <span class="fas fa-check"></span> Save
                </button>
                <script type="text/javascript">
                  var parts = [];
                  {% for task_l in tasks %}
                    if ('{{ task_l.part }}' !== '{{ task.part }}') {
                      console.log('{{ task_l.part }}')
                      parts.push("{{ task_l.part }}");
                    }
                  {% endfor %}
                  $('#editTaskSubmit').click(function(event){
                    var partInput = $('#edit_part');
                    if (parts.includes(partInput.val())){
                      partInput[0].setCustomValidity("Task number already defined");
                    } else {
                      partInput[0].setCustomValidity("");
                    }
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-100 mx-3">
          <div class="col-lg-12 col-xl-6 mt-0 p-3 order-xl-2 my-auto">
            <h4>About {{ task.name }}</h4>
            <p class="text-justify">
              This task is worth {{ task.weight|floatformat:-2 }}% of it's parent assessment
              <a href="/{{ task.assessment.module.id }}/{{ task.assessment.id }}/">{{ task.assessment.name }}</a>
              so roughly {{ taskWeightModule|floatformat:-2 }}% of
              <a href="/{{ task.assessment.module.id }}/">{{ task.assessment.module.name }}</a>
              and about {{ taskWeightYear|floatformat:2 }}% of your whole year.
              {% if taskWeightYear < 2 %}
                It all adds up though doesn't it.
              {% endif %}<br><br>

              {% if task.progress == 0 %}
                This page is where you log your activity for {{ task.name }}. To add some activity you can click the
                'Add Activity' button in the bottom left corner or the 'Not Tracked' space on the semi-donut-chart to
                the left. An activity consists of a date, a duration in minutes, how much progress you made today (not
                the new progress for the task, we'll work this out!) and some comments if you wish to add them.<br><br>

                Looks like you haven't started this task yet,
                <a href="" data-toggle="modal" data-target="#addActivityModal">got something to add?</a>
              {% elif task.progress < 100 %}
                You're currently {{ task.progress }}% through this task, and {{ task.assessment.progress }}%
                through the parent assessment, got some more
                <a href="" data-toggle="modal" data-target="#addActivityModal">activity</a>
                for us?
              {% else %}
                {% if task.assessment.progress < 100 %}
                  This task is complete, good job!
                  There are still other tasks to be done, but you're {{ task.assessment.progress }}% of the way there!
                {% else %}
                  This assessment is complete... reminiscing?
                {% endif %}
              {% endif %}
            </p>
          </div>
          <div class="col-lg-12 col-xl-6 mt-0 chart p-3 order-xl-1">
            <h4>Activities Overview</h4>
            <div id="semidonutchart"></div>
          </div>
          <div class="col-lg-12 col-xl-8 offset-xl-2 mt-0 p-3 order-xl-3">
            <h4>Cumulative Progress</h4>
            <div id="linechart"></div>
          </div>

        <!-- chart loader script -->
          <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(progressChart);
            google.charts.setOnLoadCallback(lineChart);

            function progressChart() {
              let chart_data = [];
              let total_progress = 0;
              chart_data.push(['Activity', 'Progress']);
              {% for activity in activities %}
                chart_data.push([{v: "{{ activity.id }}", f: "{{ activity.date }}"}, {v: parseFloat("{{ activity.progress }}")/2, f: "{{activity.progress}}" + "%"}]);
                total_progress += parseFloat("{{ activity.progress }}");
              {% endfor %}

              chart_data.splice(1, 0, [{v: '', f: ''}, 50]);
              chart_data.splice(1, 0, [{v: 'Not Tracked', f: 'Not Tracked'}, {v: (100 - total_progress)/2, f: (100 - total_progress) + "%"}]);

              let data = google.visualization.arrayToDataTable(chart_data);
              let options = {
                pieHole: 0.4,
                height: 400,
                pieStartAngle: -270 - (1.8*(100 - total_progress)),
                chartArea:{
                  width:'95%',
                  height:'95%',
                  top: 120,
                },
                legend: {
                  position: 'top',
                  alignment: 'center',
                },
                slices: {0: {color: 'grey'}, 1: {color: 'transparent'}},
                pieSliceText: 'none',
                tooltip: {trigger:'none'},
              };

              let chart = new google.visualization.PieChart(document.getElementById('semidonutchart'));
              chart.draw(data, options);

              google.visualization.events.addListener(chart, 'select', selectHandler);
              function selectHandler(){
                let selection = chart.getSelection();
                chart.setSelection(selection);
                if (selection[0] != null) {
                  let str = chart_data[selection[0].row + 1][0].v;
                  if (str === 'Not Tracked') {
                    $("#addActivityModal").modal("show");
                  }
                  else {
                    {% for activity in activities %}
                      if ("{{ activity.id }}" === str) {
                        $('#{{ activity.id }}').trigger('click');
                      }
                    {% endfor %}
                  }
                  chart.setSelection([]);
                }
              }
            }

            function lineChart() {
              let chart_data = [];
              let running_progress = 0;
              chart_data.push(['Date', 'Cumulative Progress']);
              chart_data.push(['', {v: running_progress, f: running_progress + "%"}]);
              {% for activity in activities %}
                running_progress += parseFloat("{{ activity.progress }}");
                chart_data.push(["{{ activity.date }}", {v: running_progress, f: running_progress + "%"}]);
              {% endfor %}

              let data = google.visualization.arrayToDataTable(chart_data);
              let options = {
                animation: {
                  duration: 700,
                  startup: true,
                  easing: 'out',
                },
                height: 360,
                vAxis: {
                  maxValue: 100,
                  minValue: 0,
                },
                legend: {
                  position: 'top',
                },
                lineWidth: 5,
                pointSize: 6,
              };

              let chart = new google.visualization.LineChart(document.getElementById('linechart'));
              chart.draw(data, options);
            }

            $(window).bind('resize', function(e){
              if (window.RT) clearTimeout(window.RT);
              window.RT = setTimeout(function()
              {
                progressChart();
                lineChart();
                $("#semidonutchart").load(window.location.href + " #semidonutchart" );
                $("#linechart").load(window.location.href + " #linechart" );
              }, 200);
            });
          </script>
        </div>
      </div>
      <div class="toast" role="alert" data-delay="4000" aria-live="assertive" aria-atomic="true" style="position:absolute;bottom:15px;right:30px;">
        <div class="toast-header">
          <strong class="mr-auto">Activities</strong>
          <small class="text-muted">1s ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body bg-light">
          {% if messages %}
            {% for message in messages %}
              {% ifequal message.tags 'success' %}
                {{ message }}
              {% endifequal %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <script>
        $(document).ready(function() {
          {% if messages %}
            $('.toast').toast('show');
          {% endif %}
        });
      </script>
    </div>
  </div>
{% endblock %}