.screen {
  height: calc(100vh - 56px);
}

.login {
  padding-top: 5vh;
  padding-bottom: 5vh;
  width: 100%;
  max-width: 400px;
  border: 1px solid #bbb
}

body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("Sunflower.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-padding {
  height: calc((100vh - 56px - 65vh)/2);
}

.detail {
  margin-bottom: 15px;
  background-color: white;
}

.sidenav {
  background-color: white;
}

.chart {
  min-height: 370px !important;
}

/*screen size query extra small*/
@media screen and (min-width: 345px) {
  .login {
    width: 80%;
  }
}

/*screen size query small*/
@media screen and (min-width: 575px) {
  .detail {
    height: calc(100vh - 113px);
    overflow-y: auto;
  }
  .sidenav {
    height: calc(100vh - 113px);
  }
  .login {
    width:60%;
  }

}

/*screen size query medium*/
@media screen and (min-width: 975px) {
  .login {
    width: 45%;
  }
}

@media screen and (min-width: 1275px) {
  .login {
    width: 30%;
  }
}

.basic-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.sign-up-img{
  background-image: url("blackdale.jpg");
  height: calc(100vh - 56px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 70%;
  min-width: 300px;
  max-width: 500px;
  padding: 40px;
  background-color: #E8E8E8;
  border-radius: 40px;
}

#brand-container{
  width: 100px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: url("splanner-brand.png") no-repeat center/contain;
}

#home-logo-container{
  width: 375px;
  height: 128px;
  background: url("my planner login.png") no-repeat center/contain;
}

#logo-container{
  width: 250px;
  height: 150px;
  background: url("Splanner-Logo.png") no-repeat center/contain;
}

#semidonutchart{
  margin-bottom: -150px !important;
}

.login-btn{
  margin:auto;
  text-align: center;
  padding-bottom: 20px;
}

.login2-btn{
  margin:auto;
  text-align: center;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

.username{
  padding-top: 20px;
  padding-bottom: 10px;
}

.password{
  padding-top: 10px;
  padding-bottom: 15px;
}

.password-reset{
  padding-bottom: 15px;
}

.sign-up-title h2 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

}

.ParallaxVideo{
    height: 75%;
    padding-bottom: 50px;
    padding-top: 50px;
}
.ParallaxVideo video{
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -999;
}
.ParallaxVideo h1 {
  color: #fff;
  font-size: 76px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.parallax-title{
  margin-top:18vh;
}

.parallax-title button{
  padding-top:2vh;
}

.first-segment{
  background:#fff;
  padding: 60px 0px 30px;
}

.first-segment img{
  width: 500px;
  height:350px;
  margin:0 auto;
}

.second-segment{
  background:#fff;
  padding-top:20px;
}

.second-segment img{
   width: 570px;
  height:350px;
}
.third-segment{
  background:#fff;
  padding-top:20px;
  padding-bottom:5vh;
}

.third-segment img{
   width: 570px;
  height:350px;
}

#fixed-img{
  background: url(UEA.jpg) no-repeat center center fixed;
  display:table;
  height: 50%;
  position: relative;
  width:100%;
  background-size:cover;
}


.landing-text h1{
  font-size: 500%;
  font-weight: 700;
}

.login-main {
  background: #DE6262; /* fallback*/
  background: -webkit-linear-gradient(to bottom, #bdc3c7, #2c3e50); /* Older*/
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50); /* New Browsers */
  width: 60%;
  padding: 20px 100px;
  height: 400px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.login-sec h2{
  font-size: 300%;
  font-weight: 700;
  font-variant: small-caps;
}

.footer{
  text-align: center;
  background: #DE6262;
}

.sign-up-contents{
  margin:auto;
  max-width: 450px;
}

.password-reset-content{
  margin:auto;
  padding:10px;
  text-align:center;
}

.password-reset-done{
    border: 1px solid #5cb85c;
    width:50%;
    height:80%;
}

.password-reset-done-contents{
  padding:10px;
}

svg > g > g:last-child { pointer-events: none }